{# templates/security/logout.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Logout{% endblock %}

{% block body %}
    <h2>Logout</h2>
    <p>You are now logged out.</p>
{% endblock %}
