{%  extends 'base.html.twig'  %}

{% block body %}

<article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350X150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vel optio deleniti animi possimus repudiandae.</p>
            <p>Numquam rerum impedit in facilis maxime minus hic commodi quaerat suscipit consequatur. Alias, quia ratione?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quos eius eligendi quae necessitatibus, commodi reiciendis recusandae. Placeat veniam ab dicta alias quo voluptates quis accusantium enim explicabo? Rerum ut, provident suscipit consequuntur veritatis doloremque? Laboriosam fuga repudiandae sunt laudantium praesentium. Eos reiciendis id laborum natus. Perspiciatis velit magnam et!</p>
            <p>Molestias, temporibus? Molestiae necessitatibus dolor dolores, dicta nam dolorum similique, accusamus magnam non, quae id modi consequatur. Sint laboriosam soluta nesciunt odit ut explicabo quasi sapiente molestiae tenetur dolore ipsa aspernatur, nisi magnam reiciendis iusto quo eos a beatae exercitationem quidem velit possimus. Fugit impedit nostrum eum modi! Exercitationem, voluptatum!</p>
        </div>
</article>

{% endblock %}